*{
    margin:0;
    padding:0;
}

.main{
 height: auto;
 width: 380px;
 margin: auto;
 margin-top: 2pc;
 text-align: center;
 background-color: rgba(216, 216, 216, 0.363)  ;

} 

.btn{
    height: 50px;
    width: 71.5px;
    font-size: 14px;
    border-radius: 0;
    margin-top: 2px;
    background-color: rgba(228, 222, 222, 0);
}

#display{
    font-size: 50px;
    text-align: right;
    height:100px;
    /* width: 290px; */
    color: black;
    background-color: rgba(216, 216, 216, 0.013)  ;
}

#cw{
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.692)  ;
}

#equal{
    background-color: rgb(141, 209, 223);
}

span button{
    float: left;
}